<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sino.module_article">

    <application android:theme="@style/AppTheme">
        <activity android:name="com.sino.module_article.ArticleActivity" />
    </application>

</manifest>